html, body {
    background-color: #000000; /* Fundo preto */
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.premium__tile {
    background-color: #000000;
    border: 2px solid #39FF14;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px #39FF14;
}

h1, h2 {
    color: #39FF14;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 20px;
}

.premium__desc {
    color: #e0e0e0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #39FF14;
    box-shadow: 0 0 15px #39FF14;
}

.premium__price {
    color: #39FF14;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

button, input[type="submit"] {
    background-color: #39FF14;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px #39FF14;
}

button:hover, input[type="submit"]:hover {
    background-color: #006400;
    color: #ffffff;
    box-shadow: 0 0 20px #39FF14;
}

.section__hr {
    border-top: 1px solid #39FF14;
    margin: 20px 0;
}

.container-fluid {
    padding: 20px;
}

@media (max-width: 768px) {
    .premium__tile {
        margin-bottom: 30px;
    }
}
